<!-- Header -->
<include href="includes/header.html"></include>


<!-- Navbar -->
<include href="includes/navbar.html"></include>


<div class="about-section">
    <h1>Our story</h1>
    <p>Three college classmates who share a huge passion for candles and brought the European Savoir-Faire of
        candles and home scents to the United States!</p>
    <p> "Unique compositions and amazing scents forumlas to make your home feel cozier, 100% made in America" </p>
</div>

<h2 style="text-align:center">Meet the founders</h2>

<div class="container-fluid">
<div class="row about-row">
    <div class="column">
        <div class="card about-card">
            <img src="images/Portrait.jpg">
            <div class="container about-container">
                <h2>Patrick Lindsay</h2>
                <p class="title">CEO & Co-Founder</p>
                <p>plindsay@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card about-card">
            <img src="images/lp_image.jpg">
            <div class="container about-container">
                <h2>Caleb Norris</h2>
                <p class="title">Art Director & Co-Founder</p>
                <p>cnorris@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card about-card">
            <img src="images/me.jpg">
            <div class="container about-container">
                <h2>Zahra Madhar</h2>
                <p class="title">Designer & Co-Founder</p>
                <p>zamadhar@gmail.com</p>
            </div>
        </div>
    </div>
</div>
</div>