<include href="includes/header.html"></include>

<body>
<!-- Navbar -->
<include href="includes/navbar.html"></include>

<div class="container accountForum p-4">
   <h1>Account Summary</h1>
    <hr>
    <p><span>Name: </span>{{@SESSION.fname}} {{@SESSION.lname}}</p>
    <p><span>Email: </span>{{@SESSION.email}}</p>
    <p><span>Street: </span>{{@SESSION.street}}</p>
    <p><span>City: </span>{{@SESSION.city}}</p>
    <p><span>State: </span>{{@SESSION.state}}</p>
    <p><span>Zip: </span>{{@SESSION.zip}}</p>
    <p><span>Card Ending in: </span>{{@SESSION.cardNum}}</p>

    <check if="{{ @SESSION.createAccOnCheck == true }}">
        <true>
            <a class="nav-link btn bg-candology-dark max-w-50" href="checkout">Checkout</a>
        </true>
        <false>
            <check if="{{ isset(@errors['login']) }}">
                <true>
                    <a class="nav-link btn bg-candology-dark max-w-50" href="login">Login</a>
                    <p>{{ @errors['login'] }}</p>
                </true>
                <false>
                    <a class="nav-link btn bg-candology-dark max-w-50" href="{{ @BASE }}">Home</a>
                </false>
            </check>

        </false>
    </check>


</div>

</body>
</html>