<!--
    Group: Solo Trio
    Project Name: Candology
    File: browseProducts.html
-->

<!-- Header -->
<include href="includes/header.html"></include>

<body>
<!-- Navbar -->
<include href="includes/navbar.html"></include>

<!-- Pop up for success message -->
<check if="{{ isset(@success) }}">
    <div class="toast position-absolute right-0 mx-4 px-4"  role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto  text-success">{{@success['header']}}</strong>
        </div>
        <div class="toast-body">
            {{@success['message']}}
        </div>
    </div>
</check>

<!-- Logo -->
<div class="container text-center mt-2">
    <img class="mx-auto text-center" src="images/Unknown.png" alt="logo">
</div>

<div class="container-fluid">
    <!-- Candles Header -->
    <div class="row">
        <div class="col-12 text-center mt-3 mb-2">
            <h1>Our Collections</h1>
        </div>
    </div>

    <!-- Candles List -->
    <div class="row">
        <div class="col-12 col-sm-10 mx-auto border-top border-bottom pb-4 mb-5">
            <div class="row">
                <!-- Create List of Cards -->
                <repeat group="{{ @products }}" value="{{ @product }}">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card shadow rounded-custom border-0">

                            <!-- Product Image -->
                            <img src="images/{{ @product->getProductId() }}.jpg" class="card-img-top rounded-custom-top" alt="Product Photo">

                            <!-- Product Info -->
                            <div class="card-body">
                                <h5 class="card-title">{{ @product->getProductName() }}</h5>
                                <p class="card-text text-truncate h-25">{{ @product->getProductDescription() }}</p>
                                <form action="product_page" method="post">
                                    <input type="hidden" value="{{ @product->getProductId() }}" name="productId">
                                    <button type="submit" class="btn btn-color float-right">More Info</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </repeat>

            </div>
        </div>
    </div>
</div>

<check if="{{ isset(@success) }}">
    <script src="scripts/toast.js"></script>
</check>

</body>
</html>