<!DOCTYPE html>
<html lang="en">


<!-- Header -->
<include href="includes/header.html"></include>

<!-- navbar -->
<include href="includes/navbar.html"></include>

<body>
    <div class="container contactForm">
        <form>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name"><br>

            <label for="state">state</label>
            <select id="state" name="state">
                <option value="Washington">Washington</option>
                <option value="Utah">Utah</option>
                <option value="California">California</option>
            </select>

            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="What do you want to talk to us about?"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>