<include href="includes/header.html"></include>

<body>
<!-- Navbar -->
<include href="includes/navbar.html"></include>

<div class="container accountForum">
    <h1>Create Your Candology Account!</h1>
    <hr>
    <form action="#" method="POST" id="createAccountForm">
        <div class="accountDetails">
            <div class="form-row">
                <div class="col">
                    <label for="fname">First Name:</label><br>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter first name">
                    <span class="err" id="err-fname">Please enter first name</span>
                    <check if="{{ isset(@errors['fname']) }}">
                        <span class="text-danger">{{ @errors['fname'] }}</span>
                    </check>
                </div>
                <div class="col">
                    <label for="lname">Last Name:</label><br>
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter last name">
                    <span class="err" id="err-lname">Please enter last name</span>
                    <check if="{{ isset(@errors['lname']) }}">
                        <span class="text-danger">{{ @errors['lname'] }}</span>
                    </check>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="email">Email:</label><br>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                    <check if="{{ isset(@errors['email']) }}">
                        <span class="text-danger">{{ @errors['email'] }}</span>
                    </check>
                </div>
                <div class="col">
                    <label for="password">Password:</label><br>
                    <input type="text" class="form-control" id="password" name="password" placeholder="Enter password">
                    <span class="err" id="err-passwordLength">Password must be at least 8 characters</span>
                    <span class="err" id="err-password">Please enter password</span>
                    <check if="{{ isset(@errors['password']) }}">
                        <span class="text-danger">{{ @errors['password'] }}</span>
                    </check>
                </div>
            </div>
        </div>


        <!-- Address Form -->
        <div class="addressForm">
            <h3>Address</h3>
            <div class="form-group">
                <label for="street">Street Address:</label>
                <input type="text" class="form-control" id="street" name="street" placeholder="1234 Main St">
                <span class="err" id="err-street">Street address required</span>
                <check if="{{ isset(@errors['street']) }}">
                    <span class="text-danger">{{ @errors['street'] }}</span>
                </check>
            </div>
            <div class="form-group">
                <label for="address2">Address 2</label>
                <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">City:</label>
                    <input type="text" class="form-control" id="city" name="city">
                    <span class="err" id="err-city">City required</span>
                    <check if="{{ isset(@errors['city']) }}">
                        <span class="text-danger">{{ @errors['city'] }}</span>
                    </check>
                </div>
                <div class="form-group col-md-4">
                    <label for="state">State:</label>
                    <select id="state" name="state" class="form-control">
                            <repeat group="{{ @states }}" value="{{ @stateName }}" key="{{ @stateABBR }}">
                                <option value="{{ @stateABBR }}" <check if="{{ @stateABBR == @state }}">selected</check>>
                                {{ @stateName }}</option>
                            </repeat>

                        <check if="{{ isset(@errors['state']) }}">
                            <span class="text-danger">{{ @errors['state'] }}</span><br>
                        </check>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="zip">Zip:</label>
                    <input type="text" class="form-control" id="zip" name="zip">
                    <span class="err" id="err-zip">Zip required</span>
                    <check if="{{ isset(@errors['zip']) }}">
                        <span class="text-danger">{{ @errors['zip'] }}</span>
                    </check>
                </div>
            </div>

            <!-- Payment Form -->
            <div class="addressForm">
                <h3>Payment</h3>
                <div class="form-group">
                    <label for="street">Card Number:</label>
                    <input type="number" class="form-control" id="cardNum" name="cardNum" placeholder="Enter card number">
                    <span class="err" id="err-cardNum">Valid card number required</span>
                    <check if="{{ isset(@errors['cardNum']) }}">
                        <span class="text-danger">{{ @errors['cardNum'] }}</span>
                    </check>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="expMonth">Exp Month:</label>
                        <input type="number" class="form-control" id="expMonth" name="expMonth">
                        <span class="err" id="err-expMonth">Valid month required</span>
                        <check if="{{ isset(@errors['expMonth']) }}">
                            <span class="text-danger">{{ @errors['expMonth'] }}</span>
                        </check>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="expYear">Exp Year:</label>
                        <input type="number" class="form-control" id="expYear" name="expYear">
                        <span class="err" id="err-expYear">Valid year required</span>
                        <check if="{{ isset(@errors['expYear']) }}">
                            <span class="text-danger">{{ @errors['expYear'] }}</span>
                        </check>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="cvv">CVV:</label>
                        <input type="text" class="form-control" id="cvv" name="cvv">
                        <span class="err" id="err-cvv">Valid cvv required</span>
                        <check if="{{ isset(@errors['cvv']) }}">
                            <span class="text-danger">{{ @errors['cvv'] }}</span>
                        </check>
                    </div>
                </div>

            </div>

        </div>


        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
</div>
<script src="scripts/validation.js"></script>
</body>
</html>