<!--
Groupe's name : Solo trio
project's name:Candology website
File: Home page

-->

<!-- Header -->
<include href="includes/header.html"></include>

<body>
<!-- Navbar -->
<include href="includes/navbar.html"></include>

<!-- Pop up for success message -->
<check if="{{ isset(@success) }}">
    <div class="toast position-absolute right-0 mx-4 px-4" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto  text-success">{{@success['header']}}</strong>
        </div>
        <div class="toast-body">
            {{@success['message']}}
        </div>
    </div>
</check>

<div class="container text-center">
    <check if="{{ isset($_SESSION['user']) }}">
        <h3> Welcome, {{ @SESSION.user->getFName() }}</h3>
    </check>
    <img class="mx-auto text-center mt-2" src="images/Unknown.png" alt="logo">
    <h4 class="font-arapey">Awaken your senses.. </h4>

    <p>Here at Candology we provide the best soy candles in the Seattle area powered by our very own ecommerce platform!</p>
    <ul class="list-inline list-group-horizontal">
        <li class="list-group-item">
            <div>
                <a href="browse_candles" class="text-decoration-none text-dark">
                    <div class="imageBox">
                        <img src="images/candle.jpg" alt="Candle being lit with a match">
                    </div>
                    <p>Candles</p>
                    <hr>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <a href="browse_diffusers" class="text-decoration-none text-dark">
                    <div class="imageBox">
                        <img src="images/diffuser.jpg" alt="Reed diffusers in oil">
                    </div>
                    <p>Diffusers</p>
                    <hr>
                </a>
            </div>
        </li>
    </ul>
</div>
<check if="{{ isset(@success) }}">
    <script src="scripts/toast.js"></script>
</check>
</body>
</html>