<!--
Groupe's name : Solo trio
project's name:Candology website
File: Home page

-->

<style>


    h4 {
        display: block;
        font-family:Arapey;
        font-style: italic;
        font-size: 1em;
        font-weight: bold;
        color: rgb(196, 165, 147);

    }

</style>

<!-- Header -->
<include href="includes/header.html"></include>

<body>
<!-- Navbar -->
<include href="includes/navbar.html"></include>



<div class="container text-center">

    <img class="mx-auto text-center" src="images/Unknown.png" alt="logo">
    <h4>Awaken your senses.. </h4>

    <p>Here at Candology we provide the best soy candles in the Seattle area powered by our very own ecommerce platform!</p>
    <ul class="list-inline list-group-horizontal">
        <li class="list-group-item">
            <div>
                <div class="imageBox"></div>
                <p>Candles</p>
                <hr>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <div class="imageBox"></div>
                <p>Diffusers</p>
                <hr>
            </div>
        </li>
    </ul>
</div>

</body>
</html>