<!--
Groupe's name : Solo trio
project's name:Candology website
File: Home page

-->

<include href="includes/header.html"></include>
<!-- Navbar -->
<include href="includes/navbar.html"></include>
<body>
<div class="container text-center">
    <img class="mx-auto text-center" src="images/Unknown.png" alt="logo">
    <h4>Welcome to Candology!</h4>
    <p>Here at Candology we provide the best candles in the Seattle area powered by our very own ecommerce platform!</p>
    <ul class="list-inline list-group-horizontal">
        <li class="list-group-item">
            <div>
                <div class="imageBox"></div>
                <p>Candles</p>
                <hr>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <div class="imageBox"></div>
                <p>Diffusers</p>
                <hr>
            </div>
        </li>
    </ul>
</div>



</body>
</html>