<!--
Groupe's name : Solo trio
project's name:Candology website
File: Login page

-->

<!-- Header -->
<include href="includes/header.html"></include>
<body>
<!-- Navbar -->
<include href="includes/navbar.html"></include>
<div class="container text-center">
<img class="mx-auto text-center" src="images/Unknown.png" alt="logo">
</div>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto shadow rounded-lg p-5">
            <h4 class="border-bottom">Login</h4>
            <form action="#" method="POST">
                <!-- Username -->
                <check if="{{ isset(@errors['login']) }}">
                    <span class="text-danger">{{ @errors['login'] }}</span>
                </check>
                <div class="row mb-1">
                    <div class="col-4 text-right">
                        <label for="email" class="form-text">Email:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="email" name="email" class="form-control">
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="col-4 text-right">
                        <label for="password" class="form-text">Password:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="password" name="password" class="form-control">
                    </div>
                </div>
                <button class="btn btn-color" type="submit">Login</button>
            </form>
            <a class="a-color" href="new_account">Create an Account</a>
        </div>
    </div>
</div>

</body>
</html>