
.imageBox {
    width: 10em;
    height: 10em;
    background-color: gray;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
}
.imageBox img {
    flex: 1;
}

hr {
    color: #ad8c84;
}

li {
    border: none !important;
}

