
/* ===== FONTS ===== */
.font-arapey {
    display: block;
    font-family:Arapey;
    font-style: italic;
    font-size: 1em;
    font-weight: bold;
    color: rgb(196, 165, 147);
}

/* ===== NAVBAR ===== */
ul.navbar-nav li{
    display: flex;
    justify-content: center;
}

.right-0 {
    position: absolute;
    right: 10px;
}

/* ===== Images on Homepage ===== */
.imageBox {
    width: 10em;
    height: 10em;
    background-color: gray;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
}
.imageBox img {
    flex: 1;
}


hr {
    color: #ad8c84;
}

li {
    border: none !important;
}


/* createAccount view css */

.accountForum {
    background-color: #D3C0B2;
    margin-top: 1em;

    padding: .25em;

}
.accountForum h1 {
    text-align: center;
    padding-top: .25em;
}

.accountForum form {
    width: fit-content;
    margin: 0 auto;
}

.accountForum form button{
   margin: 1em;
}

.form-row .col {
    padding: 1em;
}

.addressForm h3 {
    text-align: center;
    margin-top: .5em;
}

.accountDetails {
    width: fit-content;
    margin: 0 auto;
}

.err {
    color: red;
    display: none;
}

/***   BROWSE PRODUCTS PAGE STYLES   ***/
/* Card rounded edges */
.rounded-custom {
    border-radius: 10px;
}
.rounded-custom-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Card Button color */
.btn-color {
    background-color: #ad8c84;
    color: white;
}
.btn-color:hover {
    background-color: #8d6c64;
    color: white;
}



/* CHECKOUT FORM PAGE */
.checkoutForm {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.checkForm {
    margin: 0 auto;
}
#formRow {
    magin-top: .5em;
}

#checkoutForm {
    background-color: #D3C0B2;
    margin-top: 1em;

    padding: 1em;
}